<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P2P</title>
    <script src="functions.js"></script>
    <script type="module" defer src="main.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Peer to peer chat program</h1>
    <p id="output-message"></p>
    <form>
        <label>Your username:</label>
        <input id="name-input" required>
        <button id="update-button" type="submit">Update</button>
    </form>
    <fieldset id="chat-space">

    </fieldset>
    <form>
        <textarea id="text-area"></textarea>
        <button id="send-button">Send</button>
    </form>
</body>
</html>