<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script defer src="functions.js"></script>
    <script type="module" defer src="register.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form>
        <h1>Enter</h1>
        <p id="output-message"></p>
        <label>Choose your name:</label>
        <input id="name-input" required>
        <button id="register-button" type="submit">Enter</button>
    </form>
</body>
</html>